@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

*{
    margin:0;
    padding:0;
    font-family: "Nunito", sans-serif;
 }

 body{
    overflow-x: hidden;
 }
 .logo{
    place-self: top start;
    margin :20px;   
    font-size:40px;
    color:#ffffff;
 }

.header_home{
    /* height:100vh; */
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.list {
    /* margin-top:10px; */
    display:flex;
    list-style:none;
}

li{
    margin:30px;
    font-size:20px;
}
.list a{
    text-decoration:none;
    color:greenyellow;
    padding: 5px 10px;
    border-radius: 0.5rem;
}
.list a:hover{
    color: #333;
    background-color: greenyellow;
}
.navbar{
    width: 100vw;
    height: 8vh;
    background-image: url("./images/bgimage.jpg");
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    background-color: #333;
    color:#ffffff;
}
.text-1 h1{ 
    margin: 0 30px 30px 30px;
}
.process{
    margin:30px;
}
.para{
    margin:30px;
}
.container button{
    margin-left:30px;
    margin-bottom:30px;
}
.hide{
    display:none;
}
#btn{
    padding:5px;
    cursor:pointer;
}
#btn-1{
    padding:5px;
    cursor:pointer;
}
.main button{
    margin-left: 30px;
    margin-bottom:30px;
    background-color: #333;
    color:#ffffff;
}
.footer {
    background-color: #333;
    margin-top:50px;
    color:#ffffff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}
.footer-section{
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 40px 15px;
}
.footer-section h3{
    margin-top:30px;
}
.footer-section p{
    margin-block:10px;
}
.footer-section a{
    margin-left:10px;
    color:#ffffff;
    text-decoration: none;
}
.hr{
    width:97%;
    height:1px;
    background-color: #ffffff;
}
.copyright{
    width:93%;
    padding:20px;
}
