@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

*{
    margin:0;
    padding:0;
    font-family: "Nunito", sans-serif;
 }

 body{
    overflow-x: hidden;
 }
 .logo{
    place-self: top start;
    margin :20px;   
    font-size:40px;
    color:#ffffff;
 }

.header_home{
    /* height:100vh; */
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.list {
    /* margin-top:10px; */
    display:flex;
    list-style:none;
}

li{
    margin:30px;
    font-size:20px;
}
.list a{
    text-decoration:none;
    color:greenyellow;
    padding: 5px 10px;
    border-radius: 0.5rem;
}
.list a:hover{
    color: #333;
    background-color: greenyellow;
}
.navbar{
    width: 100vw;
    height: 8vh;
    background-image: url("./images/bgimage.jpg");
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
    margin:50px;
    text-align:center;
}
.text h1{
    margin-bottom:1rem;
}
.text p{
    font-size:1.5rem;
    margin-block:1rem;
    text-align:center;
}
.bottom-line{
    height:2px;
    width: 100px;
    background-color: #ffbc00;
    margin:auto auto;
}
.form{
    height:150px;
    width:98%;
    display:grid;
    grid-template-columns: auto auto;
    margin:100px;
}
.input{
    position:relative;
    height: 150px;   
}
label{
    position: absolute;
}
.inp{
    width:50%;
    border:none;
    border-bottom:1px solid black;
    outline: none;
}
.textarea{
    margin-inline:95px;
}
.text1{
    padding:10px;    
}
.submit{
    width:50%;
    color:#ffffff;
    background-color: #333;
    display: inline-block;
    margin-inline:17rem;
    padding: 0.8rem;
    border:none;
    cursor:pointer;
    margin-block:2rem;
}
button:hover{
    background-color: #ffbc00;
}
.main{
    color:#ffffff;
    background-color: #333;
    padding:3rem;
}
.contact{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:90%;
}
.info{
    color:#ffffff;
    background-color: #ffbc00;
}
.text2{
    padding:4rem 2rem;
    text-align:center;
    font-size: 2rem;
}
.footer {
    background-color: #333;
    margin-top:50px;
    color:#ffffff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}
.footer-section{
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 40px 15px;
}
.footer-section h3{
    margin-top:30px;
}
.footer-section p{
    margin-block:10px;
}
.footer-section a{
    margin-left:10px;
    color:#ffffff;
    text-decoration: none;
}
.hr{
    width:97%;
    height:1px;
    background-color: #ffffff;
}
.copyright{
    width:93%;
    padding:20px;
}