*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #fff2d2 ;
}
.container{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height:100vh;
    width: 100vw;
}
.process{
    display: flex;
    justify-content:center;
    align-items:center;
}
.process-1{
    display:flex;
    align-items:center;
}
.text{
    border-radius: 1rem;
    width:2rem;
    height:2rem;
    border:1px solid #d28f6e;
    text-align:center;
    font-weight:bold;
    line-height:1.9rem;
    display: inline-block;
    color:#d28f6e;
    transition: color 0.3s linear 0.3s, background-color 0.3s linear 0.3s;
}
#text1{
    color:#fff2d2;
    background-color:#d28f6e;
}
.bar{
    height: 0.3rem;
    width: 5rem;
}
#prog1{
    height: 100%;
    width: 0%;
    transition: width 0.3s linear ;
    background-color: #d28f6e;
}
#prog2{
    height: 100%;
    width: 0%;
    transition: width 0.3s linear ;
    background-color: #d28f6e;
}
#prog3{
    height: 100%;
    width: 0%;
    transition: width 0.3s linear ;
    background-color: #d28f6e;
}
#prog4{
    height: 100%;
    width: 0%;
    transition: width 0.3s linear ;
    background-color: #d28f6e;
}
#text-1{
    position: relative;
}
#text-1 > p{
    position: absolute;
    bottom: -70%;
    color: #d28f6e;
    width: max-content;
    transition: all 0.3s linear 0.3s;
    left: -72%;
}
#text-2{
    position: relative;
}
#text-2 > p{
    position: absolute;
    bottom: -70%;
    color: #d28f6e;
    opacity:0;
    width: max-content;
    transition: all 0.3s linear 0.3s;
    left: -72%;
}
#text-3{
    position: relative;
}
#text-3 > p{
    position: absolute;
    bottom: -70%;
    color: #d28f6e;
    opacity:0;
    width: max-content;
    transition: all 0.3s linear 0.3s;
    left: -100%;
}
#text-4{
    position: relative;
}
#text-4 > p{
    position: absolute;
    bottom: -70%;
    color: #d28f6e;
    opacity: 0;
    width: max-content;
    transition: all 0.3s linear 0.3s;
    left: -72%;
}
.buttons{
    margin-top:5rem;
}
button{
    padding:5px 10px;
    color:#fff2d2;
    border: none;
    border-radius: 0.5rem;
    background-color: #d28f6e;
    cursor:pointer;
}