@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

*{
    margin:0;
    padding:0;
    font-family: "Nunito", sans-serif;
 }

 body{
    overflow-x: hidden;
 }
 .logo{
    place-self: top start;
    margin :20px;   
    font-size:40px;
    color:#ffffff;
 }

.header_home{
    /* height:100vh; */
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.list {
    /* margin-top:10px; */
    display:flex;
    list-style:none;
}

li{
    margin:30px;
    font-size:20px;
}
.list a{
    text-decoration:none;
    color:greenyellow;
    padding: 5px 10px;
    border-radius: 0.5rem;
}
.list a:hover{
    color: #333;
    background-color: greenyellow;
}
.navbar{
    width: 100vw;
    height: 8vh;
    background-image: url("./images/bgimage.jpg");
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container > h1{
    height: 400px;
    width: 100%;
    color:#333;
    background-image: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    display:grid;
    place-items: center;
    font-size:4.5rem;
    opacity:0.8;
}
.projects{
    line-height: 1.5rem;
    background-color:#333;
    color:#fff;
}
.title{
    padding:1rem;
}
.steps{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-color:#555;
    color:#fff;
    place-items:center;
}
.steps > div{
    height:100%;
    width:100%;
}
.h3{
    color:#ffbc00;
}
.pre {
    overflow-y: auto;
    height: 30vh;
}
.footer {
    background-color: #333;
    margin-top:50px;
    color:#ffffff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}
.footer-section{
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 40px 15px;
}
.footer-section h3{
    margin-top:30px;
}
.footer-section p{
    margin-block:10px;
}
.footer-section a{
    margin-left:10px;
    color:#ffffff;
    text-decoration: none;
}
.hr{
    width:97%;
    height:1px;
    background-color: #ffffff;
}
.copyright{
    width:93%;
    padding:20px;
}